article .black-background {
  margin-top: 4em;
  background-color: black;
  line-height: 1em;
}

article .contact-icon .icon {
  display: inline-block;
  font-size: 48px;
  margin: 0 1em;
}

article .contact {
  margin-top:1em;
  background: black;
}

article section .icon {
  display: inline-block;
}

/*
code source:
Fallout Terminal Inspired Style
A PEN BY Mack Richardson
https://codepen.io/mackorichardson/pen/vNMRpK

codes starting below
*/

label {
  clear: left;
  display: block;
  float: left;
  margin-right: 10px;
  padding-top: 5px;
}

input[type=text],
textarea {
  background: transparent;
  border: none;
  color: #00dd00;
  display: block;
  float: left;
  font-family: 'VT323', Courier;
  font-size: 1.2em;
  position: relative;
  width: 80%;
  z-index: 10
}

textarea {
  margin-bottom: 20px;
  overflow: auto;
  resize: none;
}

input[type=text]:focus,
textarea:focus,
input[type=submit]:focus,
a.button:focus {
  outline: 0;
}

input[type=submit],
a.button {
  background: transparent;
  border: 1px solid #00dd00;
  clear: both;
  color: #00dd00;
  display: inline-block;
  font-family: 'VT323', Courier;
  font-size: 1em;
  margin-bottom: 20px;
  opacity: 0.8;
  padding: 10px 100px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 10;
}

input[type=submit]:hover,
a.button:hover {
  background: #00dd00;
  color: #383838;
  opacity: 0.8;
}

@media screen and (max-width: 570px) {
  input[type=submit],
  a.button {
    margin-right: 1em;
    width: 5em;
    padding: 10px 1em;
    float: right;
  }
}
