@media screen and (max-width: 575px) {
  article .jumbotron .typing {
    font-size: 12px;
  }
}

@media screen and (max-width: 610px) {
  header {
    font-size: 1em;
  }

  header .list-navbar {
    display: none;
  }

  header .hamburger-icon {
    display: inline-block;
  }

  article .jumbotron .typing {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 760px) {
  header {
    font-size: 1em;
  }

  header .list-navbar {
    display: none;
  }

  header .hamburger-icon {
    display: inline-block;
  }

  article .jumbotron .typing {
    font-size: 0.1em;
  }
}

@media screen and (min-width: 611px) and (max-width: 960px) {
  header {
    font-size: 1em;
  }

  header .hamburger-icon {
    display: none;
  }

  header .list-navbar {
    display: inline-block;
  }

  article .jumbotron .typing {
    font-size: 1em;
  }
}

@media screen and (min-width: 960px) {
  header .hamburger-icon {
    display: none;
  }
  header .list-navbar {
    display: inline-block;
  }
  article .jumbotron .typing {
    font-size: 1.5em;
  }
}