@media screen and (max-width: 340px) {
  article .jumbotron .typing{
    font-size: 0.1em;
  }

  header .list-navbar {
    display: none;
  }

  header .hamburger-icon {
    display: inline-block;
  }

  article .shell-top .center {
    width: 60%
  }
  article .contact .icon {
    margin: 0 0.2em;
  }

}

@media screen and (min-width: 341px) and (max-width: 420px) {
  article .jumbotron .typing {
    font-size: 0.5em;
  }

  header .list-navbar {
    display: none;
  }

  header .hamburger-icon {
    display: inline-block;
  }
  article .contact .icon {
    margin: 0 0.2em;
  }
}

@media screen and (min-width: 421px) and (max-width: 610px) {
  article .jumbotron .typing {
    font-size: 0.6em;
  }
  header .list-navbar {
    display: none;
  }
  header .hamburger-icon {
    display: inline-block;
  }
  article .contact .icon {
    margin: 0 0.2em;
  }
}


@media screen and (min-width: 611px) and (max-width: 880px) {
  article .jumbotron .typing {
    font-size: 0.9em;
  }
  header .hamburger-icon {
    display: none;
  }
  header .list-navbar {
    display: inline-block;
  }
}

@media screen and (min-width: 880px) and (max-width: 1014px) {

  article .jumbotron .typing {
    font-size: 1.1 em;
  }
  header {
    font-size: 1.2em;
  }
  header .hamburger-icon {
    display: none;
  }
  header .list-navbar {
    display: inline-block;
  }

  body, article, .tv-icon{
    height: 100%;
  }

  .tv-icon svg {
    height: 60%;
  }
}

@media screen and (min-width: 1014px) {
  html, body {
    font-size: 1.18em;
  }
  header {
    font-size: 1.2em;
  }
  header .hamburger-icon {
    display: none;
  }
  header .list-navbar {
    display: inline-block;
  }
  body, article, .tv-icon{
    height: 100%;
  }

  .tv-icon svg {
    height: 60%;
    vertical-align: top;
    margin-top: 15vh;
  }

}