@import url(https://fonts.googleapis.com/css?family=VT323);

* {
  box-sizing: border-box;
}

html,
body {
  background: #FFDE00;
  color: #00dd00;
  font-family: 'VT323', Courier;
  height: 100%;
  margin: 0;
  padding: 0;
}


header .navbar {
  background-color: black;
  margin-top: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;

}

.bracket a:before,
#brand-name a:before {
  color: #00dd00;
  content: ' [ ';
}

.bracket a:after,
#brand-name a:after {
  color: #00dd00;
  content: ' ] ';
}


header.site {
  margin: 0 0 0 0;
  text-transform: uppercase;
}
header .navbar {
  padding: 0 0 0 0;
}

nav.site {
  margin: 0 0 0 0;
  width: 100%;
}


nav.site ul li {
  display: inline-block;
  padding: 0 0px;
  width: auto;
  white-space: pre;
}

ul {
  list-style: none;
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  padding-left: 0;
}

header button{
  float: right;
}

.toggle-line {
  background-color: #00dd00;
  margin: 5px;
  display: block;
  width: 35px;
  height: 2px;
}

.navbar-brand {
  position:fixed;
}

.navbar-toggler {
  padding: 11px 0;
}

.navbar-nav {
  text-align: left;
}

.nav-item {
  padding : 0 0;
  width: 100%;
  height: 48px;
  padding-left: 30px;
}

.navbar-collapse{
  float: left;
  padding-top: 50px;
}

article {
  height: 90vh;
  text-align: center;
  width: 100%;
}
.container {
  height: 100%;
  margin : 0 auto;
  width: 100%;
  max-width: 1300px; /*to ignore the default setting of max-width for container*/
}

.clicking-terminal {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
}


.clicking-terminal .tv-icon svg {
  margin-right: auto;
  margin-left: auto;
  padding: 0 0 0 0;
  width: 70%;
}


.jumbotron {
  margin-top : 15vh;
  margin-right: auto;
  margin-left: auto;
  height: 70vh;
  background-color: black;
  border-radius: 5px;
  padding: 0 0 0 0;
  width: 100%;
  display: none;
}

.jumbotron .shell-top {
  background-color: #E2E2E2;
  height: 0.8em;
  top: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 0 0 0;
}

.shell-top .icon{
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 0 3px;
}

article .shell-top .center {
  float: none;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

article .typing {
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  width: 100%;
}

.typed-cursor {
  font-size: 1.2em;
}

.second-sentence {
  display: none;
}

.row {
  height: 100%
}

svg {
  max-height: 100%;

}